:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196F3;
  --primary-bg-color: #FFFFFF;
}

.page {
  background: var(--primary-bg-color);
  color: var(--paragraph-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header */

.page-header {
  background-color: #FFFFFF;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header-color {
  color: #212121;
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.studio {
  color: var(--accent-color);
}

.portfolio {
  color: var(--primary-text-color);
}

.contacts {
  color: var(--primary-text-color);
}

.header-contacts{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.head-mail {
  color: var(--accent-color);
}

.head-tel {
  color: var(--paragraph-text-color);
}

/* Hero */

.hero-section {
  background: #2F303A;
}

.hero-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;  
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section-button {
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
}

/* Features */

.features .title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .paragraph {
  color: var(--paragraph-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}


/* Works&Team titles */

.work-title,
.team-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team */

.team-section {
  background: #F5F4FA;
}

.teammates-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.teammates-proffesion {
  color: var(--paragraph-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */

.footer-section {
  background: #2F303A;
}

.logo-footer-color {
  color: #FFFFFF;
}

.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.phis-address {
  color: #FFFFFF;
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}